.cards-container{
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em; /* Espacio entre las cards */
    margin: 1rem auto;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center; /* Opcional: centra el contenido horizontalmente */
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 250px;
    margin: 0 auto; /* Centra la tarjeta en la página */
    background-color: #fff; /* Fondo blanco para la tarjeta */
}
.ingles{
    
    text-align: center;
}
.card p {
    margin: 0;
    text-align: center;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
}
.audio{
    padding: 1rem;
}
.text-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
}
.card .img {
    width: 100%; /* Asegura que el contenedor de la imagen tenga el mismo ancho que la tarjeta */
    height: auto; /* Fija una altura para mantener la relación de aspecto */
    overflow: hidden; /* Oculta cualquier contenido que exceda el contenedor */
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc; /* Añade un borde inferior para separar visualmente la imagen del contenido */
}

.card .img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra completamente el contenedor sin deformarse */
    border-radius: 10px 10px 0 0; /* Aplica el borde redondeado solo a las esquinas superiores */
}

.audio{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
